h1 {
  font-size: 50px;
  text-align: center;
  color: blue;
}

h2 {
  font-size: 20px;
  text-align: center;
}

table {
  width: 400px;
  text-align: center;
}

th {
  text-align: left;
  background-color: beige;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}
